<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/category.css" />

    <title>Website Title</title>
  </head>
  <body>
    <main>
      <form action="/category/add" method="post">
        <h1>Add new brand</h1>
        Name:
        <input type="text" name="name" id="" required />
        <br /><br />
        Country:
        <input type="text" name="country" id="" required />
        <br /><br />
        <input type="submit" value="Add" />
      </form>
    </main>
  </body>
</html>